<div class="box roundCorner" style="background:#a2db8b"  >
    
    <p  style="margin-top:100px"> Done your answer is submited  !!!!!!!!!!!!! </p>
</div>

<style>
   .roundCorner
    {
    border-radius: 10px;
    text-align :center;
    font-family:arial, helvetica, sans-serif;
    padding: 5px 10px 10px 10px;
    font-weight:bold;
      background: #a2db8b;
  
    }
   
    .box {
        width: 400px;
        height: 250px;
      
        margin: 20px 50px;
    }

    .circle {
        border-radius: 50%;
    }

    .inner-border {
        border-radius: 10px;
        text-align: center;
        font-family: arial, helvetica, sans-serif;
        padding: 5px 10px 10px 10px;
        font-weight: bold;
        width: 100px;
        height: 30px;
    }

    .inner-outline {
        outline: 10px solid red;
        outline-offset: -30px;
    }
</style>